:root {
  --background: #ffffff;
  --background-800: #27272A;
  --foreground: #171717;
  --font-jost: "jost", sans-serif;
  --paddingBlock: 8px;
  --paddingButton: 6px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --background-800: #27272A;
      --foreground: #ededed;
      --font-jost: 'jost', sans-serif;
    }
  } */
