@tailwind base;
@tailwind components;
@tailwind utilities;
@import "css/config.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost);
}

.button {
  @apply flex gap-2 items-center rounded-[6px] py-paddingButton px-[15px];
}

.button__primary {
  @apply flex justify-between bg-orange-400 hover:bg-black w-[100%] text-black hover:text-white;
}

.button__secondary {
  @apply flex justify-between bg-black w-[100%] text-white;
}

.cancel {
  @apply absolute left-0 top-0 p-[1em];
}

.container_ {
  @apply flex w-[100%];
}

.container__content {
  @apply w-full;
}

.collapsible {
  @apply w-[100%] mt-1 overflow-hidden;
}

.collapsible__collapse {
  @apply grid max-h-[0px] transition-all;
}

.collapsible__expand {
  @apply grid max-h-[500px] transition-all ease-in-out;
}

.collapsible__menu {
  @apply flex flex-col flex-wrap text-start w-full p-paddingButton text-white;
}

.dashboard {
  @apply lg:flex flex-col fixed lg:relative transition-transform w-[70%] md:w-[40%] lg:w-[20%] h-[100vh] overflow-hidden;
}

.dashboard__title {
  @apply flex bg-black gap-2 h-[10vh];
}

.dashboard__menu {
  @apply relative flex flex-col h-[90vh] w-full;
}

.dashboard__menu__contents {
  @apply absolute top-0 h-full w-full overflow-y-scroll;
}

.footer {
  @apply absolute bottom-0 left-0 w-[100%];
}

.gutter {
  @apply flex justify-center items-center w-[100%];
}

.hamburger {
  @apply p-[2px] rounded h-[2px] bg-[#F7941E];
}

.header {
  @apply flex justify-between items-center p-[1em] md:px-[2em] bg-black h-[10vh];
}

.header__brand {
  @apply flex lg:hidden gap-2 w-[4em];
}

.header__brand__logo {
  @apply flex flex-col w-full gap-2 justify-center;
}

.input {
  @apply bg-zinc-900 px-1 w-full text-white focus:outline-none;
}

.search {
  @apply flex gap-2 w-[50%] md:w-[30%] rounded p-[4px] items-center bg-zinc-900 border hover:border-[orange] transition-all;
}

.svg__arrow {
  @apply rotate-90 transition-transform;
}

h1 {
  font-weight: 1000;
  color: white;
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dashboard {
    background-color: var(--background-800);
  }
}
