@tailwind base;
@tailwind components;
@tailwind utilities;
@import "css/config.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost);
}

.button {
  @apply flex gap-2 items-center rounded-[6px] py-paddingButton px-[15px];
}

.button__primary {
  @apply flex justify-between bg-orange-400 hover:bg-black w-[100%] text-black hover:text-white;
}

.button__secondary {
  @apply flex justify-between bg-black w-[100%] text-white;
}

.container {
  @apply flex;
}

.collapsible {
  @apply w-[100%] mt-1 overflow-hidden;
}

.collapsible__collapse {
  @apply grid max-h-[0px] transition-all;
}

.collapsible__expand {
  @apply grid max-h-[500px] transition-all ease-in-out;
}

.collapsible__menu {
  @apply flex flex-col flex-wrap text-start w-full p-paddingButton text-white;
}

.dashboard {
  @apply fixed md:relative w-[60%] md:w-[20%] xl:w-[15%] h-[100vh] overflow-hidden;
}

.dashboard__title {
  @apply flex bg-black gap-2 h-[10vh];
}

.dashboard__menu {
  @apply relative flex flex-col h-[90vh] w-full;
}

.dashboard__menu__contents {
  @apply absolute top-0 h-full w-full overflow-y-scroll;
}

.gutter {
  @apply flex justify-center items-center w-[100%];
}

.svg__arrow {
  @apply rotate-90 transition-transform;
}

h1 {
  font-weight: 1000;
  color: white;
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dashboard {
    background-color: var(--background-800);
  }
}
